{% extends 'base.html.twig' %}
{% block body %}
    <br />
    <h1 class="text-info text-center">Medicijnen Lijst</h1>
    <div class="container"><h2>Er zij {{ medicijnen|length }} medicijnen</h2></div>


    <div class="container">

    <table class="table table-bordered">

        <thead class="text-center">
        <tr>
            <td class="thead">naam</td>
            <td class="thead">werking</td>
            <td class="thead">bijwerking</td>
            <td class="thead">prijs</td>
            <td class="thead">verzekerd</td>
            <td class="thead">Wijzigen</td>
            <td class="thead">Verwijderen</td>
        </tr>
        </thead>
        <tbody>
        {% for medicijn in medicijnen %}
            <tr class="text-center tr2">
                <td>
                    {{ medicijn.naam }}
                </td>

                <td>
                    {{ medicijn.werking|length>50 ? medicijn.werking|slice(0,50) ~ '...' : medicijn.werking }}
                </td>

                <td>
                    {{ medicijn.bijwerking|length>50 ? medicijn.bijwerking|slice(0,50) ~ '...' : medicijn.bijwerking }}
                </td>

                <td>
                    € {{ medicijn.prijs }}
                </td>

                <td>
                    {% if medicijn.verzekerd == true %}
                        verzekerd
                    {% else %}
                        niet verzekerd
                    {% endif %}
                </td>
                <td title="bewerk de gegevens van deze medicijn">
                    <a href="{{ path('updateM',{'id':medicijn.id}) }}"><img src="{{ asset('img/plus.png') }}" class="btn-outline-info" width="100px" height="100px"></a>
                </td>

                <td title="bewerk de gegevens van deze medicijn">
                    <a href="{{ path('deletM', {'id':medicijn.id}) }}"><img src="{{ asset('img/verwijden.png') }}" class="btn-outline-danger" width="100px" height="100px"></a>
                </td>

            </tr>
        {% endfor %}

        </tbody>

    </table>
        <a href="{{ path("creatM") }}"  ><button type='submit' class='btn btn-outline-warning' >toevoegen</button></a>
    </div>


{% endblock %}