{% extends 'medewerker/Mhome.html.twig' %}

{% block body %}
    <br />
    <h1 class="text-info text-center">Medicijnen Lijst</h1>
    <div class="container"><h2>Er zij {{ medicijnen|length }} medicijnen</h2></div>


    <div class="container">

    <table class="table table-bordered">

        <thead class="text-center">
        <tr>
            <td class="thead">naam</td>
            <td class="thead">werking</td>
            <td class="thead">bijwerking</td>
            <td class="thead">prijs</td>
            <td class="thead">verzekerd</td>
            <td class="thead">Wijzigen</td>
            <td class="thead">Verwijderen</td>
        </tr>
        </thead>
        <tbody>
        {% for medicijn in medicijnen %}
            <tr class="text-center tr2">
                <td>
                    {{ medicijn.naam }}
                </td>

                <td>
                    {{ medicijn.werking|length>50 ? medicijn.werking|slice(0,50) ~ '...' : medicijn.werking }}
                </td>

                <td>
                    {{ medicijn.bijwerking|length>50 ? medicijn.bijwerking|slice(0,50) ~ '...' : medicijn.bijwerking }}
                </td>

                <td>
                    € {{ medicijn.prijs }}
                </td>

                <td>
                    {% if medicijn.verzekerd == true %}
                        verzekerd
                    {% else %}
                        niet verzekerd
                    {% endif %}
                </td>
                <td title="bewerk de gegevens van deze medicijn">
                    <a href="{{ path('updateM',{'id':medicijn.id}) }}"><span class="far fa-pen text-info " style="font-size: 50px" ></span></a>
                </td>

                <td title="bewerk de gegevens van deze medicijn">
                    <a href="{{ path('deletM', {'id':medicijn.id}) }}"><span class="far fa-trash-alt text-danger " style="font-size: 50px" ></span></a>
                </td>

            </tr>
        {% endfor %}

        </tbody>

    </table>
        <a href="{{ path("creatM") }}"  ><button class="btn btn-outline-warning  "><span class="far fa-plus text-warning " style="font-size: 50px"></span></button></a>
    </div>
    <br/>


{% endblock %}